@font-face {
font-family: Nautilus;
src: url(./Nautilus.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Nautilus;
}

#canvas-basic {
  position: absolute;
  height: 160px;
  width: 100%;
  z-index: 0;
  -webkit-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.3);
}

.canvas-text{
  font-size: 100px;
  position: relative;
  color: white;
}

.content-piece{
  transition: .3s;
  color: #252525;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 400px;
  border-radius: 5px;
  background-color: rgb(230,232,234, .25);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.content-piece:hover{
  color: #cb4592;
  box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.3);
}

.content-piece img{
  transition: .3s;
  border-radius: 5px;
}

.image-loading{
  border-radius: 5px;
  width: 200px;
  height: 300px;
  background: #bc4e9c;
  background: -webkit-linear-gradient(to bottom, #D3CCE3, #E9E4F0);
  background: linear-gradient(to bottom, #D3CCE3, #E9E4F0);
}
